<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--FavIco-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- TWITTER CARDS!-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="Asthriona">
  <meta name="twitter:creator" content="@Asthriona">
  <meta property="og:url" content="http://asthriona.com/">
  <meta property="og:title" content="Asthriona">
  <meta property="og:description" content="Hi! I'm Asthriona, and I dont have name.">
  <meta name="twitter:image" content="https://cdn.siriushd.net/chrome_BqyTEO9jr3.png">
    <title>New! D:</title>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
    