<div class="col mt-4">
    <div class="card  mt-4 mx-2 ml-4 mb-4">
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1343197381978959875/Fh6EIPrm_400x400.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">Asthriona</h5>
            <p class="card-text text-center">
                Hi! Im Asthriona, You can Call me Mako if you want! Im some sort of Web developper, I like to usefull and useles stuff, My main side project is <a href="https://Yukiko.app" target="_blank" rel="noopener noreferrer">Yukiko</a> a powerfull
                discord bot wit lot and lot of feature. <br> I do code to keep my head out of the water, and I also play a lot of World Of Warcraft and Valorant. Im the main Tank and Admin of &#60;Eternal Vengeance&#62;. Im also their own developper.
                I like to code to help other people and make this world a bit better! Im sure im nowhere near to change the world but I think if everyone put their own little rock in the end we will make a differance.
            </p>
            <hr>
            <h5 class="text-center">Wanna Talk?</h5>
            <h3 class="text-center social" style="letter-spacing: 25px;">
                <a href="http://dsc.bio/asthriona" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i></a>
                <a href="https://twitter.com/asthriona" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/Asthriona" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCmdFgSwM4Ln_97Lx0qBDCWg" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                <a href="mailto:ping@asthriona.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
                <a href="https://keybase.io/asthriona" target="_blank" rel="noopener noreferrer"><i class="fab fa-keybase"></i></a>
                <a href="https://ko-fi.com/asthriona" target="_blank" rel="noopener noreferrer"><i class="fas fa-yen-sign"></i></a>
            </h3>
        </div>
    </div>
    <div class="card  mt-4 mx-2 ml-4 mb-4">
        <div class="card-body">
            <h5 class="card-title text-center">Friends And thing I use</h5>
            <p class="card-body">
                <a href="https://www.scaleway.com/" target="_blank" rel="noopener noreferrer"><img class="parthner" src="https://asthriona.s3.fr-par.scw.cloud/ShareX/2021/01/5185491.png" alt="" height="100px"></a>
                <a href="https://printer.yukiko.app" target="_blank" rel="noopener noreferrer"><img class="parthner" src="https://asthriona.s3.fr-par.scw.cloud/ShareX/2021/01/space.png" alt="I am the computer man!" height="100px"></a>
                <a href="https://asthriona.com" target="_blank" rel="noopener noreferrer"><img class="parthner" src="https://asthriona.s3.fr-par.scw.cloud/ShareX/2021/01/Asthriona%20logo.png" alt="" height="100px"></a>
                <a href="https://www.cloudflare.com/" target="_blank" rel="noopener noreferrer"><img class="parthner" src="https://asthriona.s3.fr-par.scw.cloud/ShareX/2021/01/cf-logo-v-rgb-rev.png" alt="" height="100px"></a>
            </p>
        </div>
    </div>
</div>
