<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>
<div class="container">
    <div class="row">
        <div class="col col-sm-12 mt-5">
            <div class="mt-4"></div>
            <h2>About me.</h2>
            <p>
                Hey, I'm Asthriona, And I still dont have a name, except "HEY!" or "Hey YOU!"
                I'm somekind of WebDev, I work for Sirius Media Group, as Lead Producer and Lead Project developer.
                I hate Coding, But I love it at the same time. dont ask me why, Taking about code, i'm also working for NuxArch & <a href="http://rainboomStudio.com" target="_blank" rel="noopener noreferrer">Rainboom Studio</a>
            </p>
            <p>
                Outside of code and work, i love to have fun with friend at The Wall, And watch anime.
You can find my Anilist here I'm Maybe a weeb after all.. I dont know... Is this bad?
You can find my Main WoW Character here.
My top 3 Fav anime is Angel beats!, Charlotte And HitoriBocchi. Fav (Console) Game -> Persona 5, Fav (PC) game -> WoW
            </p>
            <h2>About this website.</h2>
            <p>
                This website is developped by <a href="http://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona</a> and hosted by <a href="http://Siriusmediagroup.com" target="_blank" rel="noopener noreferrer">Sirius Media Group</a><br>
                This is a beta version. if you find bugs, please contact me at <a href="mailto:im@asthriona.com">im@asthriona.com</a> or on twitter <a href="http://twitter.com/Asthriona" target="_blank" rel="noopener noreferrer">@Asthriona</a>
            </p>
            <p>
                The content of this blog is under © Copyright Asthriona, All Right Reserved. 2020.<br>
                The code is under <a href="https://github.com/Asthriona/Ashtriona-Blog/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">Mozilla Public License 2.0</a> which means you can use & modify the code for yourself, but you have to credit me.
                All credit on image or video goes directly to their creator.
            </p>
            <p>
                We are using different technologies such as NodeJS, Express, MongoDB & apache.<br>
                The code is availiable on GitHub.
            </p>
            <h2>Sources</h2>
            <p>
                <ul>
                    <li>NodeJS</li>
                    <li>Express</li>
                    <li>Discord Gateway</li>
                    <li>MongoDB</li>
                    <li>Boostrap</li>
                    <li>AshquiRenee Web Server</li>
                    <li>Google Font</li>
                    <li>Snyk</li>
                </ul>
                most of the code is wrtien by Asthriona except for:<br>
                The Footer: By <a href="http://www.mangoya.cn/#/" target="_blank" rel="noopener noreferrer">By Aimee</a> => <a href="https://github.com/Aimee1608">Github</a>
            </p>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') -%>