<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Asthriona - Blog | Error...</title>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
    <div class="container">
        <div class="spacer" style="margin-top: 4.5rem;"></div>
        <div class="text-center">
            <img src="https://cdn.asthriona.com/H5mh.gif" alt="">
            <h1>Oops! An error happened! :/</h1>
            <pre class="text-left" style="background-color: aliceblue;">
                <%= message %> 
            </pre>
            <div class="mt-4">
                <h5><a href="/">Go back to the home page.</a></h5>
            </div>
        </div>
    </div>
    <div id="footer" class="fcontainer footBack">
        <p>Code hosted on <a href="https://github.com/Asthriona/Ashriona-Blog" target="_blank">GitHub</a>. Website hosted by
          <a href="https://SiriusMediaGroup.com" target="_blank" rel="noopener noreferrer">Sirius Media Group</a> DNS
          Powered by <a href="https://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona ltd.</a></p>
        <p>Domaine Uptime: <span class="uptime">{{longTime}}</span><span class="timeJump"> (●'◡'●)ﾉ♥</span></p>
        <p>© Asthriona ltd 2019 -
          <script>document.write(new Date().getFullYear())</script> <a href="https://Asthriona.com">Asthriona</a>. Theme By
          <a href="https://Asthriona.com/" target="_blank">Asthriona</a>.</p>
        <p>Credit: Nako's art by <a href="http://twitter.com/lgisdead" target="_blank"
            rel="noopener noreferrer">lgisdead</a></p>
        <p><span>Made with</span>❤️ <span>by Asthriona.</span></p>
        <small><a href="/back">Admin panel</a></small>
      </div>
    </div>
    </div>
    <script src="/javascript/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    </body>
    </html>