<%- include('../partials/logged_header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>
<div class="container">
    <div style="margin-top: 5rem;"></div>
    <div class="text-center">
        <img src="https://cdn.asthriona.com/nope.gif" alt="">
        <h1>Admin zone only!</h1>
        <p>
            If you are not an admin I dont even know why you tried to login.<br>
            This blog can't offer you anything that ask you to login for now. I will tell ya in a post when it comes :)
        </p>
    </div>
</div>